body{
  max-width: 100%;
  overflow-x: hidden;
  height: 1000px;
  z-index:1;
 	background-image:url(images/apple.jpg);
 	background-repeat:no-repeat;
 	background-attachment:fixed;
  background-size:cover;
}
.homepage{
height: 600px;
}

ul{
  list-style-type: none;
  display: block;
}
li{
  float: right;
  margin-right: 20px;
  font-size: 26px;
}
li a:hover{
  background-color: blue;
}
.description{
  position: relative;
  top: 300px;
  left: 50%;
  height: 300px;
}
h1 {
  font-family: 'Pacifico';
  font-size: 40px;
  position: relative;
  top: 300px;
  left: 300px;
}
.about{
  background-color: tomato;
  opacity: 0.9;

}
.aboutText{
  color: black;
  margin-top: 40px;
  padding-top: -10px;
  width: 350px;
  height: 450px;
  border: 0px solid;
  font-family: "Pacifico";
  line-height: 20px;
  font-size: 14px;
  padding: 5px;
}

.aboutPic{
  float: right;
  position: relative;
  top: -450px;
}
.aboutContact{
  position: absolute;
  top: 800px;
  right: 500px
}
span{
  position: absolute;
  top: -100px;
}
.fa{
  padding: 30px;
  margin: 20px;
  font-size: 50px;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover{
  opacity: 0.5;
}
.fa-facebook{
  background-color: #3B5998;
  color: white;
}
.fa-twitter{
  background-color: #55ACEE;
  color: white;
}
.fa-github{
  background-color: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
