body{
  max-width: 100%;
  overflow-x: hidden;
}
.nav-bar{


}
.homepage{
  background-color: tomato;
  height: 500px;
  position: relative;
  top: 40px;
}

ul{
  list-style-type: none;
  display: block;
}
li{
  float: right;
  margin-right: 20px;
  font-size: 26px;
}
li a:hover{
  background-color: blue;
}
.description{
  position: relative;
  top: 300px;
  left: 50%;
  height: 300px;
}
h1{
  font-family: 'Pacifico';
  font-size: 40px;
  position: relative;
  top: 300px;
  left: 300px;
}
.about{
  height: 400px;
}
.aboutText{
  background-color: grey;
  margin-top: 40px;
  width: 350px;
  height: 350px;
  border: 0px solid;
}
